<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="/css/Fish.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section>
      <div th:replace="~{header :: header}"></div>
      <div class="main" id="home">
        <div class="main-container">
          <div class="main-text">
            <h1>THẾ GIỚI CÁ KOI NHẬT BẢN - CHẤT LƯỢNG HÀNG ĐẦU</h1>
            <p>
              Cá koi, không chỉ là biểu tượng của sự thịnh vượng và may mắn
              trong văn hóa Nhật Bản, mà còn được nuôi dưỡng và sản xuất dưới
              nhiều hình thức khác nhau. Các sản phẩm cá koi chủ yếu bao gồm cá
              giống, thức ăn và các phụ kiện nuôi cá. Cá giống koi thường được
              tuyển chọn kỹ lưỡng với nhiều màu sắc và hoa văn đẹp mắt, phục vụ
              cho những người yêu thích nuôi cá cảnh. Thức ăn cho cá koi cũng
              rất đa dạng, từ thức ăn viên cho đến thức ăn tươi sống, đảm bảo
              cung cấp đầy đủ chất dinh dưỡng để cá phát triển khỏe mạnh. Ngoài
              ra, các phụ kiện như bể, máy lọc nước, và thiết bị tạo không khí
              cũng là những sản phẩm không thể thiếu để tạo ra môi trường sống
              tốt nhất cho cá koi. Việc đầu tư vào các sản phẩm này không chỉ
              giúp cá koi phát triển tốt mà còn làm tăng vẻ đẹp của không gian
              sống của bạn.
            </p>
          </div>
          <div class="main-img">
            <img src="/images/koi.png" alt="" />
          </div>
        </div>
        <div class="social-icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-weibo"></i>
          <i class="fa-brands fa-tiktok"></i>
        </div>
        <div class="button">
          <a href="#" onclick="scrollToClass(event, 'Products')"
            >Tìm hiểu ngay</a>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
    </section>
    <!---Product---->
    <section class="Products">
      <div class="input-group">
        <input
                aria-describedby="button-addon2"
                aria-label="Recipient's username"
                class="form-control"
                id="search-inp"
                placeholder="Tìm kiếm sản phẩm..."
                type="text"
        />
        <button
                class="btn btn-outline-secondary bg-warning"
                id="button-addon2"
                onclick="searchProducts()"
                type="button"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="product" id="body">
        <h1>Các loại cá</h1>

        <div class="box">

        </div>
      </div>
    </section>
    <!--Footer-->
    <footer th:replace="~{footer :: footer}"></footer>
    <script src="/js/main.js"></script>
  </body>
</html>
