<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<!--Footer-->
<footer>
    <div class="footer_main">
        <div class="tag">
            <h1>Liên hệ</h1>
            <a href="https://ut.edu.vn/"
            ><i class="fa-solid fa-house"></i>Trường Đại học Giao Thông Vận Tải
                TPHCM</a
            >
            <a href="tel:+84 911809129"
            ><i class="fa-solid fa-phone"></i>0911809129</a
            >
            <a href="mailto:"
            ><i class="fa-solid fa-envelope"></i>Nhom10@gmail.com</a
            >
        </div>

        <div class="tag">
            <h1 style="text-align: center;">Hỗ trợ</h1>
            <a href="/Contact" class="center">Câu hỏi thường gặp</a>
            <a href="/files/VanChuyen.pdf" class="center">Vận chuyển</a>
            <a href="/Return" class="center">Trả hàng</a>
            <a href="/Payment" class="center">Lựa chọn thanh toán</a>
        </div>

        <div class="tag">
            <h1>Về chúng tôi</h1>
            <a href="#" class="center">Việt Nam</a>
            <a href="" class="center">Trung Quốc</a>
            <a href="" class="center">Hàn Quốc</a>
            <a href="" class="center">Mỹ</a>
        </div>

        <div class="tag">
            <h1>Theo dõi</h1>
            <div class="link_social">
                <a href="https://www.facebook.com/profile.php?id=100024099557081"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/nguyennnnnn._/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://m.weibo.cn/"><i class="fa-brands fa-weibo"></i></a>
                <a href="https://www.tiktok.com/fr/"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>

        <div class="tag">
            <h1>Đánh giá</h1>
            <div class="search_bar">
                <input type="text" placeholder="Text here...." />
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>
</footer>
</body>
</html>