<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="Css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />    
  </head>
  <body>
    <section>
      <div th:replace="~{header :: header}"></div>
      <div class="main" id="home">
        <div class="main-container">
          <div class="main-text">
            <h1>
              CÁ KOI NHẬT BẢN CHẤT LƯỢNG CAO NHẤT (NISHIKIGOI) <br />
              ĐƯỢC BÁN TỪ NIIGATA, NHẬT BẢN
            </h1>
            <p>
              Cá Koi Nhật Bản chất lượng cao là biểu tượng của sự may mắn, thịnh
              vượng và kiên trì trong văn hóa Nhật Bản. Được nuôi dưỡng và chọn
              lọc kỹ lưỡng qua nhiều thế hệ, cá Koi cao cấp có màu sắc rực rỡ,
              đa dạng và hoa văn đặc biệt, tạo nên giá trị thẩm mỹ cao. Để đạt
              được chất lượng cao nhất, cá Koi cần môi trường nước sạch, thức ăn
              dinh dưỡng và sự chăm sóc tỉ mỉ. Ngoài ra, giống cá cũng đóng vai
              trò quan trọng trong việc quyết định độ đẹp và độ khỏe mạnh của
              cá. Những con cá Koi xuất sắc thường có giá trị rất cao, không chỉ
              về mặt kinh tế mà còn về tinh thần, được xem như biểu tượng của sự
              trường thọ và hạnh phúc trong văn hóa người nuôi cá trên khắp thế
              giới.
            </p>
          </div>
          <div class="main-img">
            <img src="images/koi.png" alt="" />
          </div>
        </div>
        <div class="social-icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-weibo"></i>
          <i class="fa-brands fa-tiktok"></i>
        </div>
        <div class="button">
          <a href="/Introduce">Tìm hiểu ngay</a>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
    </section>
    <!---Product---->
    <section class="Products">
      <div class="product">
        <h1>Loài cá bán chạy nhất</h1>

        <div class="box">
          <div class="card">
            <div class="small-cart">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-share"></i>
            </div>
            <div class="img">
              <img src="images/koi1.jpg" alt="" />
            </div>
            <div class="product-info">
              <h2>Tancho Kohaku</h2>
              <p>
                Tancho kohaku 84 cm 4 tuổi có nguồn gốc từ Dainichi có hình thể
                đẹp mắt, dù mới 4 tuổi nhưng kích thước đã lên đến 84cm. Hoa văn
                đẹp, màu sắc rõ nét, hình thể đẹp, khỏe mạnh, vạm vỡ, body rắn
                chắc.
              </p>
              <h3>300.000<sup>đ</sup></h3>
              <div class="product-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <a href="/Fish" class="btn" id ="shop">Go to Shop</a></a>
            </div>
          </div>
          <div class="card">
            <div class="small-cart">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-share"></i>
            </div>
            <div class="img">
              <img src="images/koi2.jpg" alt="" />
            </div>
            <div class="product-info">
              <h2>Kohaku 94</h2>
              <p>
                Đây là em koi kohaku 6 năm tuổi 94cm được Onkoi nhập trực tiếp
                từ Dainichi Koi farm. Em koi này thừa hưởng mọi tiêu chuẩn, điều
                kiện tốt nhất của 1 em koi hoàn hảo, thậm chí dư thừa khả năng
                tham gia các giải đấu lớn.
              </p>
              <h3>300.000<sup>đ</sup></h3>
              <div class="product-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <a href="/Fish" class="btn">Go to Shop</a></a>
            </div>
          </div>
          <div class="card">
            <div class="small-cart">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-share"></i>
            </div>
            <div class="img">
              <img src="images/koi3.jpg" alt="" />
            </div>
            <div class="product-info">
              <h2>Yamabuki Ogon</h2>
              <p>
                2 em Yamabuki Ogon 3 tuổi 75 cm toàn thân đều phủ 1 màu vàng óng
                lấp lánh như vàng thật. Khi rọi chiếu dưới làn nước trong xanh,
                màu vàng phản chiếu lên mặt hồ sẽ giúp em ấy trở thành tâm điểm
              </p>
              <h3>300.000<sup>đ</sup></h3>
              <div class="product-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <a href="/Fish" class="btn">Go to Shop</a></a>
            </div>
          </div>
          <div class="card">
            <div class="small-cart">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-share"></i>
            </div>
            <div class="img">
              <img src="images/koi2.jpg" alt="" />
            </div>
            <div class="product-info">
              <h2>Tancho Kohaku</h2>
              <p>
                Tancho kohaku 84 cm 4 tuổi có nguồn gốc từ Dainichi có hình thể
                đẹp mắt, dù mới 4 tuổi nhưng kích thước đã lên đến 84cm. Hoa văn
                đẹp, màu sắc rõ nét, hình thể đẹp, khỏe mạnh, vạm vỡ, body rắn
                chắc.
              </p>
              <h3>300.000<sup>đ</sup></h3>
              <div class="product-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <a href="/Fish" class="btn">Go to Shop</a></a>
            </div>
          </div>
          <div class="card">
            <div class="small-cart">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-share"></i>
            </div>
            <div class="img">
              <img src="images/koi1.jpg" alt="" />
            </div>
            <div class="product-info">
              <h2>Tancho Kohaku</h2>
              <p>
                Tancho kohaku 84 cm 4 tuổi có nguồn gốc từ Dainichi có hình thể
                đẹp mắt, dù mới 4 tuổi nhưng kích thước đã lên đến 84cm. Hoa văn
                đẹp, màu sắc rõ nét, hình thể đẹp, khỏe mạnh, vạm vỡ, body rắn
                chắc.
              </p>
              <h3>300.000<sup>đ</sup></h3>
              <div class="product-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <a href="/Fish" class="btn">Go to Shop</a></a>
            </div>
          </div>
          <div class="card">
            <div class="small-cart">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-share"></i>
            </div>
            <div class="img">
              <img src="images/koi1.jpg" alt="" />
            </div>
            <div class="product-info">
              <h2>Tancho Kohaku</h2>
              <p>
                Tancho kohaku 84 cm 4 tuổi có nguồn gốc từ Dainichi có hình thể
                đẹp mắt, dù mới 4 tuổi nhưng kích thước đã lên đến 84cm. Hoa văn
                đẹp, màu sắc rõ nét, hình thể đẹp, khỏe mạnh, vạm vỡ, body rắn
                chắc.
              </p>
              <h3>300.000<sup>đ</sup></h3>
              <div class="product-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <a href="/Fish" class="btn">Go to Shop</a></a>
            </div>
          </div>
          <div class="card">
            <div class="small-cart">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-share"></i>
            </div>
            <div class="img">
              <img src="images/koi1.jpg" alt="" />
            </div>
            <div class="product-info">
              <h2>Tancho Kohaku</h2>
              <p>
                Tancho kohaku 84 cm 4 tuổi có nguồn gốc từ Dainichi có hình thể
                đẹp mắt, dù mới 4 tuổi nhưng kích thước đã lên đến 84cm. Hoa văn
                đẹp, màu sắc rõ nét, hình thể đẹp, khỏe mạnh, vạm vỡ, body rắn
                chắc.
              </p>
              <h3>300.000<sup>đ</sup></h3>
              <div class="product-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <a href="/Fish" class="btn">Go to Shop</a></a>
            </div>
          </div>
          <div class="card">
            <div class="small-cart">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-share"></i>
            </div>
            <div class="img">
              <img src="images/koi1.jpg" alt="" />
            </div>
            <div class="product-info">
              <h2>Tancho Kohaku</h2>
              <p>
                Tancho kohaku 84 cm 4 tuổi có nguồn gốc từ Dainichi có hình thể
                đẹp mắt, dù mới 4 tuổi nhưng kích thước đã lên đến 84cm. Hoa văn
                đẹp, màu sắc rõ nét, hình thể đẹp, khỏe mạnh, vạm vỡ, body rắn
                chắc.
              </p>
              <h3>300.000<sup>đ</sup></h3>
              <div class="product-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <a href="/Fish" class="btn">Go to Shop</a></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-----Review---->
    <section class="Reviews">
      <div class="review">
        <h1><span>Đánh giá của khách hàng</span></h1>

        <div class="review-box">
          <div class="review-card">
            <div class="card-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="images/person.jpg" alt="" />
                </div>
                <div class="name">
                  <strong>Kim Ji Won</strong>

                  <div class="like">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <p>Fish look so good</p>
            </div>
          </div>
          <div class="review-card">
            <div class="card-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="images/person1.jpg" alt="" />
                </div>
                <div class="name">
                  <strong>Lee Min Ho</strong>

                  <div class="like">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <p>Its really nice to me!</p>
            </div>
          </div>
          <div class="review-card">
            <div class="card-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="images/person3.jpg" alt="" />
                </div>
                <div class="name">
                  <strong>王一博</strong>

                  <div class="like">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <p>我很喜欢这个商店</p>
            </div>
          </div>
          <div class="review-card">
            <div class="card-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="images/person2.jpg" alt="" />
                </div>
                <div class="name">
                  <strong>Ronaldo</strong>

                  <div class="like">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <p>Fish look so good</p>
            </div>
          </div>
          <div class="review-card">
            <div class="card-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="images/person4.jpg" alt="" />
                </div>
                <div class="name">
                  <strong>Erik Ten Hag</strong>

                  <div class="like">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <p>
                Tôi đã cho mua nó về và Manchester United đã vô địch Champion
                Leagues
              </p>
            </div>
          </div>
          <div class="review-card">
            <div class="card-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="images/person5.jpg" alt="" />
                </div>
                <div class="name">
                  <strong>Sơn Tùng MTP</strong>

                  <div class="like">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <p>Tùng cảm thấy là mua cái này rất okee nha!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Service-->
    <section id="Service">
      <div class="service">
        <h1><span>Dịch vụ</span></h1>

        <div class="service_cards">
          <div class="service_box">
            <i class="fa-solid fa-truck"></i>
            <h3>Vận chuyển nhanh chóng</h3>
            <p>Vận chuyển cho bạn, niềm vui cho tôi!</p>
          </div>
          <div class="service_box">
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <h3>Hoàn trả trong 10 ngày</h3>
            <p>Hoàn trả dễ dàng, đúng lúc đúng chỗ!</p>
          </div>
          <div class="service_box">
            <i class="fa-solid fa-headset"></i>
            <h3>Hỗ trợ</h3>
            <p><a href="mailto:Nhom10@gmail.com">Nhom10@gmail.com</a></p>
          </div>
        </div>
     </div>
    </section>
    <!--Footer-->
    <footer th:replace="~{footer :: footer}"></footer>
    <script src="/js/Home.js"></script>
  </body>
</html>
