<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Code MoMo Payment</title>
  <link rel="stylesheet" href="/css/pay.css"></link>
</head>
<body>
<div class="qr-container">
  <h1>Thanh Toán Với MoMo</h1>
  <p>Vui lòng quét mã QR dưới đây để thanh toán:</p>
  <img id="qrImage" src="/images/momo.png" alt="QR Code">
  <p class="note">Mã QR được tạo cho thanh toán an toàn qua MoMo.</p>
  <p style="font-weight: bold" class="note">Sau khi thanh toán thành công, quý khách vui lòng đợi vài phút để đơn hàng được cập nhật.</p>
  <p style="font-weight: bold" class="note">Nếu có trục trặc, quý khách hãy gọi tới hotline:</p>
  <p style="font-weight: bold" class="note"><a href="tel: 1900 0505">1900 0505</a></p>
  <button type="button" id="Home"><a href="/Home">Trở về trang chủ</a></button>
</div>
<footer>&copy; 2025 Thanh Toán MoMo</footer>
</body>
</html>
