<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="../Css/product.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section>
      <nav>
        <div class="logo">
          <a href="/Home"><h1>KOI<span>.</span>FISH</h1></a>
        </div>
        <ul>
          <li><a id ="index" href="/Home" class="active">Trang chủ</a></li>
          <li><a  id ="introduce" href="/Introduce">Giới thiệu</a></li>
          <li><a id ="trip" href="/Trip">Chuyến đi</a></li>
          <li><a id ="fish" href="/Fish">Sản phẩm</a></li>
          <li><a id ="blog" href="/Blog">Tin tức</a></li>
          <li><a id ="contact" href="/Contact">Liên hệ</a></li>
        </ul>
        <div class="icons">
          <a href="/Cart"
          ><i class="fa-solid fa-cart-shopping"></i
          ></a>
          <a href="/Login" class="header_account"
          ><i class="fa-regular fa-user"></i
          ></a>
        </div>
      </nav>
      <div class="main" id="home">
        <div class="main-container">
          <div class="main-text">
            <h1>THẾ GIỚI CÁ KOI NHẬT BẢN - CHẤT LƯỢNG HÀNG ĐẦU</h1>
            <p>
              Thế Giới Cá Koi Nhật Bản - Chất Lượng Hàng Đầu là nơi hội tụ những
              chú cá Koi Nhật Bản cao cấp nhất, đặc biệt được chọn lọc từ
              Niigata – quê hương của dòng cá Nishikigoi huyền thoại. Chúng tôi
              tự hào mang đến cho khách hàng những chú cá Koi với màu sắc rực
              rỡ, hoa văn tinh tế và sức khỏe vượt trội. Mỗi chú cá đều được
              chăm sóc kỹ lưỡng và nuôi dưỡng trong môi trường chuẩn Nhật Bản,
              đảm bảo đạt tiêu chuẩn chất lượng cao nhất. Đến với Thế Giới Cá
              Koi Nhật Bản, bạn sẽ có cơ hội sở hữu những tuyệt phẩm Koi quý
              hiếm, nâng tầm vẻ đẹp cho không gian sống của bạn.
            </p>
          </div>
          <div class="main-img">
            <img src="../images/koi.png" alt="" />
          </div>
        </div>
        <div class="social-icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-weibo"></i>
          <i class="fa-brands fa-tiktok"></i>
        </div>
        <div class="button">
          <a href="#">Tìm hiểu ngay</a>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
    </section>
    <!---Product---->
    <section class="Products">
      <div class="product">
        <h1>Koi Kohaku</h1>

        <div class="boxs">
          <div class="card">
            <div class="small-carts">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-share"></i>
            </div>
            <div class="img">
              <img src="../images/koi1.jpg" alt="" />
            </div>
            <div class="product-info">
              <h2>Tancho Kohaku</h2>
              <p>
                Tancho kohaku 84 cm 4 tuổi có nguồn gốc từ Dainichi có hình thể
                đẹp mắt, dù mới 4 tuổi nhưng kích thước đã lên đến 84cm. Hoa văn
                đẹp, màu sắc rõ nét, hình thể đẹp, khỏe mạnh, vạm vỡ, body rắn
                chắc.
              </p>
              <h3>300.000<sup>đ</sup></h3>
              <div class="product-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <a href="/Details" class="btn" id="view">View</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Footer-->
    <footer>
      <div class="footer_main">
        <div class="tag">
          <h1>Liên hệ</h1>
          <a href="https://ut.edu.vn/"
          ><i class="fa-solid fa-house"></i>Trường Đại học Giao Thông Vận Tải
            TPHCM</a
          >
          <a href="tel:+84 911809129"
          ><i class="fa-solid fa-phone"></i>0911809129</a
          >
          <a href="mailto:"
          ><i class="fa-solid fa-envelope"></i>Nhom10@gmail.com</a
          >
        </div>

        <div class="tag">
          <h1 style="text-align: center">Hỗ trợ</h1>
          <a href="#" class="center">Câu hỏi thường gặp</a>
          <a href="" class="center">Vận chuyển</a>
          <a href="" class="center">Trả hàng</a>
          <a href="" class="center">Lựa chọn thanh toán</a>
        </div>

        <div class="tag">
          <h1>Về chúng tôi</h1>
          <a href="#" class="center">Việt Nam</a>
          <a href="" class="center">Trung Quốc</a>
          <a href="" class="center">Hàn Quốc</a>
          <a href="" class="center">Mỹ</a>
        </div>

        <div class="tag">
          <h1>Theo dõi</h1>
          <div class="link_social">
            <a href="https://www.facebook.com/profile.php?id=100024099557081"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a href="https://www.instagram.com/nguyennnnnn._/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="https://m.weibo.cn/"><i class="fa-brands fa-weibo"></i></a>
            <a href="https://www.tiktok.com/fr/"
              ><i class="fa-brands fa-tiktok"></i
            ></a>
          </div>
        </div>

        <div class="tag">
          <h1>Đánh giá</h1>
          <div class="search_bar">
            <input type="text" placeholder="Text here..." />
            <button type="submit">Submit</button>
          </div>
        </div>
      </div>
    </footer>
    <script src="details.js"></script>
  </body>
</html>
