<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng ký</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section>
      <form action="/user/register" method="POST">
        <h1>Register</h1>
        <div class="inputbox">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" name="username" id="username" required />
          <label for="">User</label>
        </div>
        <div class="inputbox">
          <i class="fa-solid fa-lock"></i>
          <input type="password" name="password" id="password" required />
          <label for="">Password</label>
        </div>
        <div class="inputbox">
          <i class="fa-solid fa-lock"></i>
          <input type="password" name="confirmPassword" id="confirmPassword" required />
          <label for="">Confirm Password</label>
        </div>
        <div class="inputbox">
          <i class="fa-solid fa-phone"></i>
          <input type="text" name="phone" id="phone" required/>
          <label for="">Phone</label>
        </div>
        <div class="inputbox">
          <i class="fa-solid fa-envelope"></i>
          <input type="email" name="email" id="email" required/>
          <label for="">Email</label>
        </div>
        <div id="regMess">
          <p th:text="${error}" style="color: red;"></p>
          <p th:text="${message}" style="color: green;"></p>
        </div>

        <button id ="register" type="submit">Register</button>
        <button id="login" type="button" onclick="window.location.href='/user/login'">Back to Login</button>
      </form>
    </section>
    <script src="/js/login.js"></script>
  </body>
</html>
