<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chính Sách Hoàn Trả Hàng</title>
    <link rel="stylesheet" href="/css/return.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/Home" class="lg"><h1>KOI<span>.</span>FISH</h1></a>
        <h1>Chính Sách Hoàn Trả Hàng</h1>
      </div>
    </header>

    <section class="return-policy">
      <h2>Điều Kiện Hoàn Trả</h2>
      <p>
        Chúng tôi chấp nhận hoàn trả hàng trong vòng 30 ngày kể từ ngày mua
        hàng. Sản phẩm phải còn nguyên tem mác, chưa qua sử dụng và trong tình
        trạng ban đầu.
      </p>

      <h2>Các Bước Hoàn Trả</h2>
      <ol>
        <li>
          Liên hệ với bộ phận hỗ trợ khách hàng của chúng tôi để yêu cầu hoàn
          trả.
        </li>
        <li>Chuẩn bị hàng hóa cùng các giấy tờ liên quan.</li>
        <li>
          Gửi hàng qua đường bưu điện hoặc mang trực tiếp đến cửa hàng của chúng
          tôi.
        </li>
        <li>
          Sau khi nhận được hàng, chúng tôi sẽ kiểm tra và xử lý hoàn trả trong
          vòng 7 ngày làm việc.
        </li>
      </ol>

      <h2>Phí Hoàn Trả</h2>
      <p>
        Khách hàng sẽ chịu phí vận chuyển hoàn trả, trừ khi hàng hóa có lỗi sản
        xuất.
      </p>
    </section>
  </body>
</html>
